.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: right;
    color: #646cff;
    text-decoration: none;
  }

  .links {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: flext-start;
    gap: 0.5rem;

    text-decoration: none;
    color: #0c0c0c;
    opacity: 0.6;

    border-bottom: 3px solid transparent;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      opacity: 1;
      border-color: #8d90c4;
    }
  }
}